<footer class="footer-39201" style="margin-top:40px;background-color:black;margin-bottom:40px;">
    <div class="container">
      <div class="row">
        <div class="col-md mb-4 mb-md-0">
          <h3 style="color:white;margin-top:40px">Argus</h3>
          <ul class="list-unstyled nav-links" >
            <li><a href="#"></a></li>
            <li style="color:white;margin-top:30px;font-size:20px;margin-top:30px;">Get in Touch
            <li style="font-size:12p;margin-top:30px;color:white">113/216-A Swaroop Nagar, Kanpur- 208002,
                Uttar Pradesh, India</li>
            <li style="font-size:12p;color:white">Landline- 0512-4028469

            </li>
            <li style="font-size:12p;color:white">Email-contact@ekak.in</li>
            
          </ul>
        </div>
        <div class="col-md mb-4 mb-md-0">
          <p style="font-size:200px;width:2px;color:white"> |</p>
          
          
        </div>
        <div class="col-md mb-4 mb-md-0" style="margin-top:40px;">
          <h3 style="color:aliceblue">Site-map</h3>
          <ul class="list-unstyled nav-links" style="font-size:12p;margin-top:30px;">
            <li style="color:white"><a href="#">About</a></li>
            <li style="color:white"><a href="#">Industries</a></li>
            <li style="color:white"><a href="#">Use Case</a></li>
            <li style="color:white"><a href="#">Blogs</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-4 mb-md-0" style="margin-top:40px;">
          <h3 style="color:aliceblue">DON'T MISS OUT!</h3>
          <p class="mb-4" style="color:white;margin-top:30px">Sign up to get latest updates promotions and many more.</p>
          <form action="#" class="subscribe">
              <input type="text" class="form-control" placeholder="Enter your e-mail">
              <input type="submit" class="btn btn-submit" value="Send">
            </form>
        </div>
      </div>

      <div class="row align-items-center">
        
        <div class="col-md-6 text-md-righ " >
          <ul class="social list-unstyled">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-behance"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>