<footer class="footer-39201" style="margin-top:40px;background-color:black;">
  <div class="container">
    <div class="row p-0">
      <div class="col-xl-3 border-right">
        <h3 style="color:white;margin-top:40px">ARGUS</h3>
        <ul class="list-unstyled nav-links" >
          <li><a href="#"></a></li>
          <li style="color:white;margin-top:30px;font-size:20px;margin-top:30px;">GET IN TOUCH
          <li style="font-size:12p;margin-top:30px;color:white">113/216-A Swaroop Nagar, Kanpur- 208002,
              Uttar Pradesh, India</li>
          <li style="font-size:12p;color:white">Landline- 0512-4028469

          </li>
          <li style="font-size:12p;color:white">Email-contact@ekak.in</li>
          
        </ul>
      </div>
      <div class="col-xl-1 d-lg-block d-sm-none d-md-none rmSmallScreen">
        <!-- <p style="font-size:200px;width:1px;color:white">|</p> -->
      </div>
      <div class="col-xl-4" style="margin-top:40px;">
        <h3 class="text-white">Site-map</h3>
        <ul class="list-unstyled nav-links " style="font-size:12p;margin-top:30px;">
          <li ><a href="/home" class="text-decoration-none text-white">Home</a></li>
          <li ><a href="/about" class="text-decoration-none text-white">About</a></li>
          <li ><a href="/manufaturing"class="text-decoration-none text-white" >Industries</a></li>
          <li ><a href="/predictive" class="text-decoration-none text-white">Use Case</a></li>
          <li ><a href="/blog"class="text-decoration-none text-white" >Blogs</a></li>
        </ul>
      </div>
      <div class="col-xl-4  " style="margin-top:40px;">
        <h3 style="color:aliceblue">DON'T MISS OUT!</h3>
        <p class="mb-4" style="color:white;margin-top:30px">Sign up to get latest updates promotions and many more.</p>
        <form action="#" class="subscribe">
          <div class="input-group mb-3">
            <input type="text" class="form-control rounded-0" placeholder="Enter Your Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-info rounded-0" type="button" id="button-addon2">SIGN UP</button>
          </div>
          </form>
      </div>
    </div>

    <div class="row align-items-center">
      
      <div class="col-md-6 text-md-right " >
        <ul class="social list-unstyled">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-pinterest"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-behance"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <style>
    @media only screen and (max-width: 600px) {
      .rmSmallScreen {
        display: none;
      }
    }
  </style>
</footer>







